doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/vendors.css')
		link(rel='stylesheet', href='/css/style.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block head
	body
		.nav-drawer
			button.nav-toggle Navigation
			nav
				ul.nav
					each v, k in nav
						li
							a(href=v)=k
					if user
						li
							a
								strong='@'+user.name
						li
							a(href="/logout")="Logout"
		#page-overlay
		#page
			block content
	footer
		script(src='/js/vendors.js')
		script(src='/js/script.js')
		block footer