extends views/layout

block content
	.jumbotron
		h1#out ZombieHippie
		p#output the all media collection
	.container
		each v, k in tiles
			.tile.col-lg-3.col-md-4.col-sm-6(id=k)
				a.row(href="/article/"+v.slug)
					.row
						strong=v.title
					.row
						i="Written by"
						span=v.user