extends views/layout

block content
	.jumbotron
		h1#out Hello
		p#output Hello
	.container
		-var nDate = (new Date()).toString()
		-var posts={Home:{content:"Look at <a title=\"ZombieHippie.com\" href=\"//zombiehippie.com\">my primary website</a>",date:nDate},Contact:{content:"You can contact me <a href=\"//twitter.com/inkblur\" title=\"@inkblur\">via twitter</a>",date:nDate}}
		each v, k in posts
			article
				header
					h1=k
					p=v.date.replace(/(^.*?)\s\d+:.*$/,"$1")
				section
					p!=v.content