extends views/layout

block content
	.container
		style
			.b{background:#61AAE4}
			.y{background:#D4DF5D; color:black}
		h1=isNew?"Register":"Login"
		form(role="form",method="POST")
			.form-group
				input.form-control(name="username",type="text",placeholder="Username")
				input.form-control(name="password",type="password",placeholder="Password")
				if isNew
					input.form-control(name="key",type="password",placeholder="Registration Key")
					input.btn.btn-success.pull-right(type="submit",value="Register")
				else
					input.btn.btn-success.pull-right(type="submit",value="Login")
					a.btn.btn-default.pull-right(href="/register") I'm new!